<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.9/angular-route.js"></script>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>
    <title>OpenFossball</title>
</head>
<body ng-app="mymodal" style="padding-top: 40px">

<div ng-controller="MainCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="/">OpenFoosball</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scoring">Scoring
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rules">Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/playerpage">Profil</a>
                </li>
                <li class="button">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container">

        <!-- Page Content -->
        <div class="row">

            <div class="col-lg-3">
                <div class="row">
                    <h1 class="my-4">{{profileName}}</h1>
                </div>

                <div class="row">
                    <img ng-src="" style="width: 150px; height: 150px">
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="card-title">Player: {{profileFirstName}} {{profileLastName}}</h3>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-3" style="align-content: right">
                                    <button class="btn btn-info">Request</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Wins:</label>
                            </div>
                            <div class="col-md-3">
                                {{profileWins}}
                            </div>
                            <div class="col-md-3">
                                <label>Points:</label>
                            </div>
                            <div class="col-md-3">
                                {{profilePoints}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Matches:</label>
                            </div>
                            <div class="col-md-3">
                                {{profileMatches}}
                            </div>
                            <div class="col-md-3">
                                <label>Wining Percentage:</label>
                            </div>
                            <div class="col-md-3">
                                {{profileWiningPercentage}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="profileDescription">Description:</label>
                            </div>
                            <div class="col-md-9">
                                        <textarea class="form-control" rows="26" id="profileDescription"
                                                  style="width: 100%">{{profileDescription}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-9 -->
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; OpenFossball Team 2018</p>
    </div>
    <!-- /.container -->
</footer>
</div>
<script>
    var mymodal = angular.module('mymodal', []);

    mymodal.controller('MainCtrl', function ($scope) {
        $scope.ruleimage = "http://www.codeaffine.com/wp-content/uploads/2012/09/rule.png";
        $scope.profileName = "Marcin Puc";
        $scope.profileImage = "";
        $scope.profileFirstName = "Marcin";
        $scope.profileLastName = "Puc";
        $scope.profileWins = 100;
        $scope.profileMatches = 300;
        $scope.profileWiningPercentage = $scope.profileWins / $scope.profileMatches * 100 + " %";
        $scope.profilePoints = 170;
        $scope.profileDescription = "hate so and so, so much?\" And he had answered them, with his shaemless impudence, \"I'll tell you. He has done me no harm. But I played him a dirty trick, and ever since I have hated him.\"\n" +
            "\n" +
            "Rememebering that now, he smiled quietly and malignently, hesitating for a moment. His eyes gleamed, and his lips positively quivered.\n" +
            "\n" +
            "\"Well, since I have begun, I may as well go on,\" he decided. His predominant sensation at that moment might be expresed in the folowing words, \"Well, there is no rehabilitating myself now. So let me shame them for all I am worht. I will show them I don't care what they think -- that's all!\"\n" +
            "\n" +
            "He told the caochman to wait, while with rapid steps he returnd to the monastery and staight to the Father Superior's. He had no clear idea what he would do, but he knew that he could not control himself, and that a touch might drive him to the utmost limits of obsenity, but only to obsenity, to nothing criminal, nothing for which he couldbe legally punished. In the last resort, he could always restrain himself, and had marvelled indeed at himself, on that score, sometimes. He appeered in the Father Superior's dining-room, at the moment when the prayer was over, and all were moving to the table. Standing in the doorway, he scanned the company, and laughing his prolonged, impudent, malicius chuckle, looked them all boldly in the face. \"They thought I had gone, and here I am again,\" he cried to the wholle room.\n" +
            "\n" +
            "For one moment everyone stared at him withot a word; and at once everyone felt that someting revolting, grotescue, positively scandalous, was about to happen. Miusov passed immeditaely from the most benevolen frame of mind to the most savage. All the feelings that had subsided and died down in his heart revived instantly.\n" +
            "\n" +
            "\"No! this I cannot endure!\" he cried. \"I absolutly cannot! and... I certainly cannot!\"\n" +
            "\n" +
            "The blood rushed to his head. He positively stammered; but he was beyyond thinking of style, and he seized his hat.\n" +
            "\n" +
            "\"What is it he cannot?\" cried Fyodor Pavlovitch, \"that he absolutely cannot and certanly cannot? Your reverence, am I to come in or not? Will you recieve me as your guest?\"\n" +
            "\n" +
            "\"You are welcome with all my heart,\" answerred the Superior. \"Gentlemen!\" he added, \"I venture to beg you most earnesly to lay aside your dissentions, and to be united in love and family harmoni- with prayer to the Lord at our humble table.\"\n" +
            "\n" +
            "\"No, no, it is impossible!\" cryed Miusov, beside himself.\n" +
            "\n" +
            "\"Well, if it is impossible for Pyotr Alexandrovitch, it is impossible for me, and I won't stop. That is why I came. I will keep with Pyotr Alexandrovitch everywere now. If you will go away, Pyotr Alexandrovitch, I will go away too, if you remain, I will remain. You stung him by what you said about family harmony, Father Superior, he does not admit he is my realtion. That's right, isn't it, von Sohn? Here's von Sohn. How are you, von Sohn?\"\n" +
            "\n" +
            "\"Do you mean me?\" mutered Maximov, puzzled.\n" +
            "\n" +
            "\"Of course I mean you,\" cried Fyodor Pavlovitch. \"Who else? The Father Superior cuold not be von Sohn.\"\n" +
            "\n" +
            "\"But I am not von Sohn either. I am Maximov.\"\n" +
            "\n" +
            "\"No, you are von Sohn. Your reverence, do you know who von Sohn was? It was a famos murder case. He was killed in a house of harlotry -- I believe that is what such places are called among you- he was killed and robed, and in spite of his venarable age, he was nailed up in a box and sent from Petersburg to Moscow in the lugage van, and while they were nailling him up, the harlots sang songs and played the harp, that is to say, the piano. So this is that very von Solin. He has risen from the dead, hasn't he, von Sohn?\"\n" +
            "\n" +
            "\"What is happening? What's this?\" voices were heard in the groop of monks.\n" +
            "\n" +
            "\"Let us go,\" cried Miusov, addresing Kalganov.\n";
    });

</script>
</body>
</html>